body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./6.jpeg);
  /* background: linear-gradient(135deg, white, #52b4b9);  */
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  /* background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bigContainer {
  background: linear-gradient(135deg, white, #52b4b9); 
  background-size: cover;
}

.mainContainer {
  background-color: #353535;
  margin-left: 150px;
  margin-right: 150px;
  color: white;
  /* font-weight: 600; */
  /* height: 100vh; */
}

.profileMainContainer {
  margin-left: 50px;
  margin-right: 50px;
} */

/* Login page */
.loginContainer{
  position: relative;
  width: 100%;   
  min-height: 100vh;
  /* background: url(./6.jpeg); */
  background-size: 100% 100%;
}



.loginContainer::before{
  content: '';
  position: absolute;
  top: 0;  left: 0;
  background: #262626;
  width: 100%;  height: 100%;
  mix-blend-mode: hard-light;
}
.loginContainer .box{
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50vw;  
  min-height: 10vh;
  background: transparent;  
  color: #fff;
  padding: 50px 20px;
  box-sizing: border-box;
  transition: .9s;
}
.loginContainer .box:hover{
  background: rgba(255,255,255,.2);
}
.loginContainer .box h1{
  font-size: 40px;
  text-align: center;  
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
}
.loginContainer .box .loginRow{
  width: 70%;
  margin: 25px 0;
  text-align: center;
  margin: 25px auto;
}
.loginContainer .box .loginRow input{
  border: none;   outline: none;
  width: 100%;
  padding: 13px 25px;
  border-radius: 30px;
  box-sizing: border-box;
  background: rgba(255,255,255,.4);   color: #fff;
  font-size: 18px;
}
::placeholder{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
}
.loginContainer .box .loginRow a{
  display: inline-block;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  text-decoration: none;  
  text-transform: uppercase;
  font-size: 18px;
}
.loginContainer .box .loginRow button#login{
  background: #00bcd4;
  padding: 15px 0;
  border-radius: 50px; 
  width: 100%; 
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

/* end login */

/* NavBar */

.navBar {
  display:flex;
  /* background: linear-gradient(135deg, violet, teal);  */
  background: linear-gradient(135deg, #52b4b9, #284B63); 
  justify-content: space-around;
  padding:20px 0;
  color:rgb(255, 254, 254);
  align-items: center;
  }
  .navBar ul{
  display:flex;
  list-style: none;
  width:40%;
  justify-content: space-between;
  }
  .navBar ul li{
    border: 2px solid rgb(253, 247, 247);
    padding: 5px;
    border-radius: 18.2px;
  }
  .navBar ul li:hover {
    color: #ffec61;
    border-color: #353535;
  }
  .navBar ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 1em;
  }
  
/* nav end */

.bandProfileHeader {
  text-align: center;
}

.bandProfileImgDiv {
  float: left;
  width: 40%;
  margin-left: 50px;
}

.bandProfileImg {
  width: 400px;
  height: 400px;
  border: 3px solid white;
}

.profSpan {
  font-weight: 700;
  color: #D9D9D9;
}

.bandInfo {
  float: right;
  width: 50%;
  color: #D9D9D9;
  border: 3px solid white;
  padding: 10px;
}

.toursHeaderDiv {
  text-align: center;
  padding-top: 450px;
}

/* .toursHeader {
  font-family: 'Montserrat', sans-serif;
} */

/* .bandProfileTourDiv {
  clear: both;
  text-align: center;
  /* padding-top: 50px; */
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
} */ 

.tourListDiv {
  clear: both;
  text-align: center;
  /* padding-top: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.tourCard {
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  height: 100px;
  /* background: linear-gradient(135deg, rgb(247, 245, 245), grey);  */
  font-size: 2.5em;
  background-color: white;
  color: #353535;
}

.tourCard:hover {
  /* background-color: #52b4b9; */
 background-color: #D9D9D9;
}

.singleTourImg {
  float: left;
  width: 150px;
  height: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tourCard h4 {
  color: #353535;
  display: inline;
}

.tourDeetsContainer img {
 max-height: 900px;
 max-width: 900px;
 margin: 50px 115px;
 border: 3px solid white;
}

.tourDeetsContainer h1 {
  text-align: center;
}

.showCard {
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  height: 100px;
  /* background: linear-gradient(135deg, rgb(247, 245, 245), grey);  */
  /* font-size: 2.5em; */
  background-color: white;
  color: #353535;
}

.showCard p {
  display: inline;
  padding: 20px;
}

.showCard:hover {
  /* background-color: #52b4b9; */
  background-color: #D9D9D9;
}

.showCard h4 {
  text-align: center;
}

.tourDeetsShowsDiv {
  clear: both;
  text-align: center;
  /* padding-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.venueMainContainer h1 {
  text-align: center;
}

.venueMainContainer .searchbar {
  margin-left: 20px;
} 

.venueListDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.venueCard {
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  height: 100px;
  /* background: linear-gradient(135deg, rgb(247, 245, 245), grey);  
  /* font-size: 2.5em; */
  background-color: white;
  color: #353535;
} 

.venueCard img {
  float: left;
  width: 150px;
  height: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
} 


.venueCard h4 {
  text-align: center;
}

.venueMainContainer {
  clear: both;
  text-align: center; 
  /* padding-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 600px;
}

.venueCard p {
  display: inline;
  /* padding: 20px; */
}

.venueCard:hover {
  /* background-color: #52b4b9; */
  background-color: #D9D9D9;
} 

.callsDiv {
  clear: both;
  text-align: center;
  /* padding-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 75px;
}

.callsContainer {
  text-align: center;
  height: 100vh;
}

.callsHeader {
  display: inline;
  clear: both;
  text-align: center;
}

.callCard {
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 20px;
  /* width: 800px; */
  width: 80%;
  height: 100px;
  /* background: linear-gradient(135deg, rgb(247, 245, 245), grey);  */
  background-color: white;
  color: #353535;
}

.callCard p {
  display: inline;
  padding: 20px;
}

.callCard:hover {
  background-color: #D9D9D9;
}

.addIcon {
  max-height: 100px;
  margin-top: 20px;
  float: right;
}

/* call form modal */

.call-form-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.call-form-modal-content{
  width: 500px;
  height: 400px;
  background-color: #fff;
  color: #353535;
  text-align: center;
}


.call-form-modal-header {
  padding: 10px;
}

.call-form-modal-title{
  margin: 0;
}

.call-form-modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 250px;
}

.call-form-modal-body .input-group{
  padding: 10px;
}

.call-form-modal-body .bottom-btn{
  margin-top: 20px;
}

.call-form-modal-content .btn-close{
  margin-top: 10px;
  margin-left: 90%;
}

.callsSearchDiv ::placeholder {
  color: grey;
  text-transform: capitalize;
}
